header h1 {
    text-align: center;
}

header nav {
    display: grid;
    grid-template-areas: 'img img h1 h1 h1';
    gap: 5px;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 15px;
    align-items: center;
}

nav #hamburger-menu {
    padding: 8px;
} 

nav a.show-menu {
   display: block;
}

nav a {
    display: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a.active-menu {
    color: yellow;
}

#hero-section {
    position: relative;
    width: 100%
}

#hero-section button {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 10px;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.5rem;
}

section.card {
    border: 1px solid #929090;
    margin-bottom: 15px;
    border-radius: 5px;
}

section.card div {
    padding: 10px;
}

section.card h3 {
    text-align: center;
    background-color: #0d0d35;
    color: #fff;
    padding: 15px;
    margin-top: 0;
}


#discover-main #sidebar {
    width: 100%;
    color: #F1FAEE;
    background-color: #0d0d35;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  
  #discover-main #sidebar h2 {
    border-bottom: 2px solid #ffffff;
  }
  
  #discover-main #sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .stat-item {
    display: grid;
    grid-template-columns: 26px auto 48px;
    padding: 1rem;
    font-size: 14px;
    align-items: center;
  }
  
  .stat-item img {
    width: 18px;
  }
  
  .stat-value {
    font-size: 24px;
    font-family: "Berkshire Swash", "Brush Script MT", serif;
  }
  
  #featured-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  
  .image-card {
    margin-bottom: 2rem;
    box-shadow: 0 0 20px #BBB;
    border-radius: 8px;
    overflow: hidden;
    width: 320px;
  }
  
/*   
  .image-card:last-child {
    margin-bottom: 1rem;
  }
   */
  .image-card img {
    width: 100%;
    transition: transform .5s;
  }
  
  .image-card p {
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 1.5rem;
    margin: 0;
  }
  
  #join div {
    padding: 10px;
  }
  #join h2 {
    text-align: center;
  }
    

 #join input, #join select, #join textarea{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
 }

 #join fieldset {
  width: 100%;
  padding: 20px 15px;
  margin: 0 auto;
  margin-top: -5px;
  border-radius: 5px;
  color:#0d0d35;
  border-color: rgb(172, 11, 11);
 }

 #join fieldset input[type='submit'] {
  background-color: #0d0d35;
  color: #fff;
 }

 #join #benefits {
  display: none;
}

  

footer {
    text-align: center;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 15px;
}

footer p span {
    display: block;
    padding: 5px;
}

footer #copyright-year {
    display: inline;
}