header h1 {
    text-align: center;
}

header nav {
    display: grid;
    grid-template-areas: 'img img h1 h1 h1';
    gap: 5px;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 15px;
    align-items: center;
}

nav #hamburger-menu {
    padding: 8px;
} 

nav a.show-menu {
   display: block;
}

nav a {
    display: none;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a.active-menu {
    color: yellow;
}

#hero-section {
    position: relative;
    width: 100%
}

#hero-section button {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 10px;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.5rem;
}

section.card {
    border: 1px solid #929090;
    margin-bottom: 15px;
    border-radius: 5px;
}

section.card div {
    padding: 10px;
}

section.card h3 {
    text-align: center;
    background-color: #0d0d35;
    color: #fff;
    padding: 15px;
    margin-top: 0;
}


footer {
    text-align: center;
    background-color: #0d0d35;
    color: #FFFFFF;
    padding: 15px;
}

footer p span {
    display: block;
    padding: 5px;
}

footer #copyright-year {
    display: inline;
}