@media screen and (min-width: 768px) 
{
    header {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    header img {
        justify-self: end;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        align-items: center;
    }
    nav a {
        display: block;
        
    }
    #hamburger-menu {
        display: none;
    }

    #home-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 15px;
    }

    #home-main .wdd-title {
        grid-column: 1/3;
    }

    #hero {
        grid-column: 1/3;
    }

    #google-map {
        grid-column: 1/3;
    }

    section.card {
        box-shadow: 1px 5px 5px #888888;
    }
    footer p span {
        display: inline;
    }
    #LastModified {
        color:#b9b925;
    }
    section.card p {
        text-align: center;
    }
    section.card ul li {
        
        list-style-type: none;
    }
    
}


    